<div class="container pad-bot">
  <div class="search-container">
    <%= simple_form_for :search, url: offers_path, method: :get do |f| %>
      <div class="search-form-control form-group">
         <input class="form-control string required" type="search" placeholder="Search" name="search" id="search" />
          <button name="button" type="submit" class="btn btn-flat">
            <i class="fas fa-search"></i>
          </button>
      </div>
    <% end %>
    <% if params[:search] %>
      <% if @offers.count > 1 %>
        <p><%= @offers.count %> résultats trouvés</p>
      <% elsif @offers.count == 1 %>
        <p><%= @offers.count %> résultat trouvé</p>
      <% else %>
        <p>Nous n'avons pas trouvé de résultats pour votre recherche</p>
      <% end %>
    <% end %>
  </div>
  <div class= "cards">
    <% @offers.each do |offer| %>
      <%= link_to offer_path(offer), class:"card-trip" do%>
          <%=cl_image_tag(offer.photo_url.key, class:"img-fluid")%>
          <div class="card-trip-infos">
            <div>
              <h4><%=offer.user.first_name%> <%=offer.user.last_name%></h4>
              <h2><%=offer.title%></h2>
              <p><%=offer.description%></p>
              <p><%=offer.date%></p>
            </div>
            <%= image_tag(offer.user.avatar_url, class:"card-trip-user avatar-border")%>
          </div>
          <h3 class="card-trip-pricing"><%=offer.price%>€</h3>
      <% end %>
    <% end %>
  </div>
</div>


