<div class="container">
  <% @offers.each do |offer| %>
    <div class="card-trip">
      <img class="img-fluid" src=<%=offer.photo_url%> alt="offer photo"/>
      <div class="card-trip-infos">
        <div>
          <h3><%= link_to offer.title, offer_path(offer)%></h3>
          <p><%=offer.description%></p>
          <p><%=offer.date%></p>
          <p><%=offer.user.first_name%> - <%=offer.user.last_name%></p>
        </div>
          <h3 class="card-trip-pricing"><%=offer.price%>€</h3>
          <img src=<%=offer.user.avatar_url%> class="card-trip-user avatar-bordered" />
      </div>
    </div>
  <%end%>
</div>


