<!--  Afficher les offres créé par current_user -->
<div class="container">
  <div class="profil">
    <%=image_tag(@user.avatar_url, class:"avatar-large")%>
    <div class="profil-content">
      <h2><%= @user.first_name %> <%= @user.last_name %></h2>
      <p><%= @user.description %>
    </div>
  </div>
    <h3>Mes Services A venir</h3>
    <div class="border rounded">
    <% unless @active_booked_offers.nil? %>
      <% @active_booked_offers.each do |offer| %>
        <div class="d-flex align-items-center">
          <div class="card-product flex-grow-1">
            <%= image_tag offer.photo_url%>
            <div class="card-product-infos">
              <h5><%= offer.title %></h5>
              <p><%= offer.description %></p>
              <p><%= offer.date %></p>
              <h5><%= offer.price %>€</h5>
            </div>
            <%= image_tag offer.user.avatar_url, class: "avatar"%>
          </div>
          <%= link_to unbook_offer_path(offer), method: :patch do%>
            <%# <i class="fas fa-trash-alt  fa-4x p-2"></i> %>
            <i class="far fa-window-close fa-4x p-2"></i>
          <% end %>
        </div>
      <% end %>
  <% end %>
    </div>
  <br/>
    <h3>Mes Services Passés</h3>
    <div class="border rounded">
    <% unless @active_booked_offers_passed.nil? %>
      <% @active_booked_offers_passed.each do |offer| %>
        <div class="d-flex align-items-center">
          <div class="card-product flex-grow-1">
            <%= image_tag offer.photo_url%>
            <div class="card-product-infos">
              <h5><%= offer.title %></h5>
              <p><%= offer.description %></p>
              <p><%= offer.date %></p>
              <h5><%= offer.price %>€</h5>
            </div>
            <%= image_tag offer.user.avatar_url, class: "avatar"%>
          </div>
          <%#= link_to unbook_offer_path(offer), method: :patch do%>
            <%# <i class="far fa-window-close fa-4x p-2"></i> %>
          <%# end %>
        </div>
      <% end %>
  <% end %>
    </div>
  <br/>
  <h3>Mes Services Achetés Annulés</h3>
  <div class="border rounded">
    <% unless @cancelled_booked_offers.nil? %>
      <% @cancelled_booked_offers.each do |offer| %>
        <div class="d-flex align-items-center">
          <div class="card-product flex-grow-1">
            <%= image_tag offer.photo_url%>
            <div class="card-product-infos">
              <h5><%= offer.title %></h5>
              <p><%= offer.description %></p>
              <p><%= offer.date %></p>
              <h5><%= offer.price %>€</h5>
            </div>
            <%= image_tag offer.user.avatar_url, class: "avatar"%>
          </div>
          <%#= link_to unbook_offer_path(offer), method: :patch  do%>
            <%# <i class="far fa-window-close fa-4x p-2 disabled d-hidden"></i> %>
          <%# end %>
        </div>
      <% end %>
    <% end %>
  </div>
  <br/>
  <h3>Mes Services Proposés</h3>
  <div class="border rounded">
    <% unless @offers.nil? %>
    <% @offers.each do |offer| %>
      <div class="d-flex align-items-center">
        <div class="card-product  flex-grow-1">
          <%= image_tag offer.photo_url%>
          <div class="card-product-infos">
            <h5><%= offer.title %></h5>
            <p><%= offer.description %></p>
            <p><%= offer.date %></p>
            <h5><%= offer.price %>€</h5>
          </div>
        </div>
        <%= link_to offer_path(offer), method: :delete do%>
          <i class="fas fa-trash-alt  fa-4x p-2"></i>
        <% end %>
      </div>
    <% end %>
    <% end %>
  </div>
</div>
