<!--  Afficher les offres créé par current_user -->
<div class="container">
  <ul class="list-inline tabs-underlined">
    <li>
      <%= link_to "Mes Services Achetés", mine_offers_path(params: {service: "bought"}), class: "tab-underlined #{"active" if @offer_type == "bought"}" %>
    </li>
    <li>
      <%= link_to "Mes Services Utilisés", mine_offers_path(params: {service: "used"}), class: "tab-underlined #{"active" if @offer_type == "used"}" %>
    </li>
    <li>
      <%= link_to "Mes Services Annulés", mine_offers_path(params: {service: "cancelled"}), class: "tab-underlined #{"active" if @offer_type == "cancelled"}" %>
    </li>
    <li>
      <%= link_to "Mes Services Proposés", mine_offers_path(params: {service: "proposed"}), class: "tab-underlined #{"active" if @offer_type == "proposed"}" %>
    </li>
  </ul>

  <% case @offer_type %>
  <% when "proposed" %>
    <div class="card-new">
      <%= link_to new_offer_path, method: :get do%>
          <!--<svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus">
            <line x1="12" y1="5" x2="12" y2="19"></line>
            <line x1="5" y1="12" x2="19" y2="12"></line>
          </svg> -->
        <div class="card-plus">
          <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle">
            <circle cx="12" cy="12" r="10"></circle>
            <line x1="12" y1="8" x2="12" y2="16"></line>
            <line x1="8" y1="12" x2="16" y2="12"></line>
          </svg>
        </div>
      <% end %>
    </div>
  <% end %>
  <% ["bought", "used", "cancelled", "proposed"].each do |offer_type| %>
    <% if @offer_type == offer_type %>
      <% @offers.each do |offer| %>
          <div class="card-product">
            <%= cl_image_tag offer.photo_url.key%>
            <% if (@offer_type == "bought") || (@offer_type == "used")|| (@offer_type == "cancelled")%>
              <%= image_tag offer.user.avatar_url, class: "avatar"%>
            <% end %>
            <div class="card-product-infos">
              <h2><%= offer.title %></h2>
              <p><%= offer.description %></p>
              <p><%= offer.date %></p>
              <div class="target">
                <% unless @offer_type == "proposed" %>
                  <p>Target:</p>
                  <h4><%= offer.target %></h4>
                <% end %>
              </div>
              <h3><%= offer.price %>€</h3>
            </div>
            <% if  @offer_type == "bought" %>
              <%= link_to unbook_offer_path(offer, service: "bought"), method: :patch do%>
              <i class="far fa-window-close fa-1x p-2"></i>
              <% end %>
            <% elsif  @offer_type == "proposed" %>
              <%= link_to edit_offer_path(offer), method: :get do%>
                <i class="far fa-edit fa-1x p-2"></i>
              <% end %>
              <%= link_to offer_path(offer, service: "proposed"), method: :delete do%>
                <i class="fas fa-trash-alt  fa-1x p-2"></i>
              <% end %>
            <% end %>
          </div>
      <% end %>
    <% end %>
  <% end %>
</div>

