<!--  Afficher les offres créé par current_user -->
<div class="container">
  <div class="profil">
    <img class="avatar-large" alt="avatar-large" src=<%= @user.avatar_url %> />
    <div class="profil-content">
      <h2><%= @user.first_name %> <%= @user.last_name %></h2>
      <p><%= @user.description %></p> <!-- A enlever & Créer un champ description -->
    </div>
  </div>
  <div class="cards">
    <% @offers.each do |offer| %>
      <div class="card-trip">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg">
        <div class="card-trip-infos">
          <div>
            <h3><%= offer.title %></h3>
            <p><%= offer.description %></p>
            <p><%= offer.date %></p>
          </div>
            <h3><%= offer.price %>€</h3>
        </div>
      </div>
    <% end %>
  </div>
</div>

<!--  Afficher les offres achetés par current_user -->

<!-- <h2>Booked Offers</h2>
<%#= @bookedoffers.each do |offer| %>
  <div class="card-trip">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg">
        <div class="card-trip-infos">
          <div>
            <h3><%#= offer.title %></h3>
            <p><%#= offer.description %></p>
            <p><%#= offer.date %></p>
          </div>
            <h3><%#= offer.price %>€</h3>
        </div>
      </div>
<%# end %> -->
