<!--  Afficher les offres créé par current_user -->
<div class="container">
  <!-- <div class="profil">
    <%=image_tag(@user.avatar_url, class:"avatar-large")%>
    <div class="profil-content">
      <h2><%= @user.first_name %> <%= @user.last_name %></h2>
      <p><%= @user.description %>
    </div>
  </div> -->
  <ul class="list-inline tabs-underlined">
    <li>
      <%= link_to "Mes Services Achetés", mine_offers_path(params: {service: "bought"}), class: "tab-underlined #{"active" if @offer_type == "bought"}" %>
    </li>
    <li>
      <%= link_to "Mes Services Utilisés", mine_offers_path(params: {service: "used"}), class: "tab-underlined #{"active" if @offer_type == "used"}" %>
    </li>
    <li>
      <%= link_to "Mes Services Annulés", mine_offers_path(params: {service: "cancelled"}), class: "tab-underlined #{"active" if @offer_type == "cancelled"}" %>
    </li>
    <li>
      <%= link_to "Mes Services Proposés", mine_offers_path(params: {service: "proposed"}), class: "tab-underlined #{"active" if @offer_type == "proposed"}" %>
    </li>
  </ul>

  <% ["bought", "used", "cancelled", "proposed"].each do |offer_type| %>

    <% if @offer_type == offer_type %>
      <% @offers.each do |offer| %>
          <div class="card-product">
            <%= cl_image_tag offer.photo_url%>
            <% if (@offer_type == "bought") || (@offer_type == "used")|| (@offer_type == "cancelled")%>
              <%= image_tag offer.user.avatar_url, class: "avatar"%>
            <% end %>
            <div class="card-product-infos">
              <h2><%= offer.title %></h2>
              <p><%= offer.description %></p>
              <p><%= offer.date %></p>
              <div class="target">
                <% unless @offer_type == "proposed" %>
                  <p>Target:</p>
                  <h4><%= offer.target %></h4>
                <% end %>
              </div>
              <h3><%= offer.price %>€</h3>
            </div>
            <% if  @offer_type == "bought" %>
              <%= link_to unbook_offer_path(offer), method: :patch do%>
              <i class="far fa-window-close fa-1x p-2"></i>
              <% end %>
            <% elsif  @offer_type == "proposed" %>
              <%= link_to unbook_offer_path(offer), method: :delete do%>
              <i class="fas fa-trash-alt  fa-1x p-2"></i>
              <% end %>
            <% end %>
          </div>
      <% end %>
    <% end %>
  <% end %>


