<div class="card-trip">
  <%= cl_image_tag @offer.photo.key, height: 400, width: 300, crop: :fill %>
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="card-trip-infos">
    <div>
      <h2><%= @offer.title %></h2>
      <p><%= @offer.description %></p>
      <p><%= @offer.date %></p>
    </div>
    <h2 class="card-trip-pricing"><%= @offer.price %></h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
  </div>
</div>

  <br>
  <%= link_to 'Back', offers_path %>
</div>
