<div class="container">

  <div class="offer_profil">
    <%=image_tag(@offer.user.avatar_url, class:"avatar-bordered")%>
    <div class="profil-content">
      <h2><%= @seller %></h2>
      <p><%= @offer.user.description %></p>
    </div>
  </div>
  <div class="card-offer-show">
    <%= cl_image_tag(@offer.photo_url)%>
    <div class="card-offer-show-infos">
      <h2><%= @offer.title %></h2>
      <p><%= @offer.description %></p>
      <p><%= @offer.date %></p>
    </div>
    <div>
      <input type="text" name="Target" id="Target" placeholder="Who's your target?">
    </div>
    <div class="zone-book">
      <h3><%= @offer.price %>€</h3>
      <div>
        <button id="sweet-alert-demo" class="btn btn-danger btn-book">Book me!</button>
        <%= link_to "BOOK", offer_bookings_path(@offer), method: :POST, id: "book-link", class: "d-none" %>
      </div>
    </div>


  </div>
  <div class="d-flex justify-content-start my-4">
      <%= link_to "Back to offers", offers_path %>
  </div>

</div>
