<!DOCTYPE html>
<html>
  <head>
    <title>AirBnBeast</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-between">
      <%= link_to (user_signed_in? ? offers_path : root_path), class:"d-flex align-items-center navbar-brand m-0 p-0" do%>
        <%#= image_tag("logo.png", alt: "AirBnBeast logo")%>
        <h2>AirBnBeast</h2>
      <%end%>
      <div class="right d-flex">
        <%= form_tag(offers_path, method: "get", class: "form-inline my-2 my-lg-0") do%>
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search" id="search">
          <%= submit_tag 'Search', class: "btn btn-outline-primary my-2 my-sm-0" %>
        <% end %>
        <%= link_to_if(user_signed_in?, "Log Out", destroy_user_session_path, class:"btn btn-outline-danger my-2 my-sm-0 ml-1", method:"delete") do %>
          <%= link_to "Log Out", nil, class:"btn btn-outline-danger my-2 my-sm-0 ml-1 disabled" %>
        <% end %>
        <%= link_to (user_signed_in? ? mine_offers_path : nil) do %>
          <% if user_signed_in? %>
            <img class="avatar"  src=<%=current_user.avatar_url%> />
          <% else %>
            <i class="fas fa-user-circle fa-2x"></i>
          <% end %>
        <% end %>
      </div>
    </nav>
    <%# <div class="drop"></div>
    <div class="drop"></div>
    <div class="flaque"></div> %>
    <%= yield %>
    <%= render 'shared/flashes' %>

    <div class="footer fixed-bottom">
      Made with <i class="fas fa-heart"></i> by AirBnBeast
      <!-- <i class="fas fa-skull-crossbones"></i> -->
    </div>
  </body>
</html>
